/* Tag Styles */
.tags { width:200px; float:right; }
.tags .p90 { font-size:180%; }
.tags .p70 { font-size:150%; }
.tags .p50 { font-size:100%; }
.tags .p30 { font-size:80%; }
.tags .p10 { font-size:75%; }
.tags .p0 { font-size:50%; }


#content-panel .topic { margin:10px 0; border-bottom:1px solid #999999;}
#content-panel .topic h3 { font-size:1.3em; }

.pageNavigation { clear:both; }
